<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_GiftCard
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Magento\Customer\Controller\Account\LoginPost" type="Tactconnect\PassEncryption\Controller\Account\LoginPost" />
	<preference for="Magento\Customer\Controller\Account\CreatePost" type="Tactconnect\PassEncryption\Controller\Account\CreatePost" />
</config>