<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="adminAuthentication" disabled="true" />
        <plugin name="customAdminAuthentication" type="Tactconnect\PassEncryption\App\Action\Plugin\Authentication" sortOrder="100" disabled ="false" />

    </type> 
</config>
