<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="sendOrderInfoSMS" instance="Techelogy\Customization\Observer\CheckoutOnepageControllerSuccessAction"  />
    </event>
    
    <!-- Set custom price for product, after add to cart for exhibition products -->
    <event name="checkout_cart_product_add_after">
        <observer name="setCustomPrice" instance="Techelogy\Customization\Observer\SetCustomPrice" />
    </event> 
    
    <!-- Disable other offline payment methods, for exhibition products -->
  <!--   <event name="payment_method_is_active">
        <observer name="disablePaymentMethod" instance="Techelogy\Customization\Observer\DisablePaymentMethod" />
    </event>  -->
</config>
