<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Techelogy_District::techelogy" title="Tact Settings" sortOrder="140" >
					<resource id="Techelogy_District::techelogy_district_index" title="Manage District" sortOrder="40"/>
                </resource>
                
                <resource id="Magento_Backend::stores">
	                <resource id="Magento_Backend::stores_settings">
	                    <resource id="Magento_Config::config">
	                       <resource id="Techelogy_Customization::tact_configuration" title="Tact Configuration" sortOrder="50"/>
	                    </resource>
	                </resource>
	            </resource>
	            
            </resource>
        </resources>
    </acl>
</config>
