@media (min-width: 1200px) {}
/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {}

@media(max-width:1200px) {
	.full-width, .footer-links-company, .cms-index-index .page-main-pal .page-title-wrapper, .cms-index-index .page-main-pal .page.messages, .page-main-pal.container {padding-left: 15px;padding-right: 15px;}
	.cms-index-index .header-content{position: static;background-color: #6a1717 !important;}
	.content-logo{width: 100%;margin: 0 0 15px;text-align: center;padding-right: 15px;}
	.header-logo{position: relative;}
	.header .logo{display: inline-block;vertical-align: middle;margin: 0 auto;max-width: 300px;}
	.tool-account.alo-toggle .toggle-tab.mobile{display: inline-block !important;}
	.box-products .slick-list {padding-left: 20px !important;padding-right: 20px !important;}
	.box-products .slick-list:before,.box-products .slick-list:after{width: 20px;}
	.tool-account.toggle-tab-mobile .toggle-content{display: none;position: absolute;top: 100%;left: 50%;z-index: 10;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);}
	.tool-account.toggle-tab-mobile .toggle-content{background-color: #6a1717;border: 1px solid #e1e1e1;padding: 0 20px;}
	.toggle-tab-mobile .toggle-content.visible{display: block;}
	.tool-account.toggle-tab-mobile.toggle-visible .toggle-tab .icons:before{content: "\f12a";font-family: Ionicons;font-size: 24px;width: 20px;height: 20px;}
	.products-list li.item{width: 100%;}
	.products-list li.item:nth-child(2n+1){clear: inherit;}
}

/* 992px <= width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
	.under-top-bar{clear: both;}
	.nav-sections-item-content .magicmenu{text-align: center;}
	.magicmenu .nav-desktop .level0 .level-top-mega .mage-column .children,
	.vmagicmenu .level0 .level-top-mega .mage-column .children{width:185px;}
	.magicmenu .level0 .level-top img {padding-right: 10px;}
	.vmagicmenu{width: 230px;}
	.vmagicmenu .vmagicmenu-narrow > li:nth-child(n+8) {display: none;}
	.cms-index-index .header-container-fixed, .header-container-fixed, .page-products .header-container-fixed, .catalog-product-view .header-content .header-container-fixed{position: static;animation-duration: none;animation-fill-mode: none;animation-name: none;box-shadow: none;animation-duration: inherit;}
	.store_info .social-link{margin: 0 10px 5px 0;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 40px;line-height: 40px;margin: 0;}
	/* Banner */
	.banner-boder-zoom a img {max-width: 100%;}
	.socials > li {padding-left: 15px;}
	.category-view{min-height: 300px;}
	.catalog-product-view .breadcrumbs, .page-products .breadcrumbs{min-height: 357px;}
	.category-view-position{top: 72%;}
	.page-products .page-title-wrapper h1 span, .pagecrumbs-title{font-size: 30px;}
	/* Policy / service */
	.alo-blog .post-description{padding-bottom: 10px;}
	/* newletter / socials */
	.payment img{margin: 0 auto;}

	.cms-index-index .page-main-pal.container .product-quickview .page-title-wrapper{padding-right: 0;padding-left: 0;}
	.products-grid .product-name{overflow: visible;height: auto;}
	
	/* sidebar */
	.product-primary-column,.custom-detail-right{width: 100%;}
	.custom-detail-right .display-resolutions{width: 70%;float: left;}
	.custom-detail-right .sidebar-module{width: 30%;float: left;}
	.sidebar .block .block-content,.block-tagclaud .tagclaud-hld {padding: 18px 0px;}
	.block.block-compare .empty {padding: 20px 10px;}
	/* Product Item */
	.actions-cart{width: calc(100% - 100px); width: -webkit-calc(100% - 100px);}
	.item .actions-cart .button.btn-cart, .item .actions-cart .stock.unavailable{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
	.item .actions-cart .button.btn-cart span{display: inline;}
	.item .add-to-links a,.quickview{width: 30px;}
	.products-list .item .product-hover .quickview{width: 46px;}
	.products-list .item .product-item-details{padding:  20px 15px;}
	.products-list .product-reviews-summary .reviews-actions .action {font-size: 11px;padding: 0 8px 0 8px;}
	.page-layout-2columns-left .sidebar-main, .page-layout-2columns-left .sidebar-additional, .page-layout-2columns-right .sidebar-main, .page-layout-2columns-right .sidebar-additional{padding-right: 15px;}
	/* About, Contact */
	.contact-index-index .page-title-wrapper .page-title{max-width: 970px;}
	.company-worker .item .img{width: 170px;height: 170px;line-height: 170px;}
	.company-worker .item .hr span.first{padding-top: 45px;}
	.form-cart button.button, .form-cart button, .form-cart .cart .continue{padding: 0 20px;}
}	

@media(max-width:991px) {
	/* hidden on mobile */
	.full-width, .footer-links-company, .cms-index-index .page-main-pal .page-title-wrapper, .cms-index-index .page-main-pal .page.messages{padding-left: 0px;padding-right: 0px;}
	.page-header{border: 0;}
	.header-content { padding: 20px 0;}
	.cms-index-index .header-container-fixed, .header-container-fixed,.page-products .header-container-fixed, .catalog-product-view .header-content .header-container-fixed{position: static;animation-duration: none;animation-fill-mode: none;animation-name: none;box-shadow: none;background: transparent !important;}
	.menu-mobile-none,.quickview,#header-offer,.slide-vertiacal .vertical-align-left{display: none !important;}

	/* Logo Search and Cart */
	.header-top{text-align: center;}
	.main-header .support span{line-height: normal;}
	.main-header.top-mobile{width: 100%;padding: 0;}
	.top-mobile{float: none !important;display: inline-block;clear: both;vertical-align: middle;width: auto;text-align: center;}
	.top-right .tool-setting,.top-right .header.links,.below-column,.alo-social-top, .links-wrapper-separators,.tool-setting .header-setting{float: none;display: inline-block;vertical-align: middle;}
	.content-logo{width: 100%;margin: 0 0 15px;text-align: center;padding-right: 15px;}
	.header-logo{position: relative;}
	.header .logo{display: inline-block;vertical-align: middle;margin: 0 auto;max-width: 300px;}
	.fixed-mobile{ margin-top: -25px;padding: 0;width: auto;position: absolute;right: 15px;top: 50%;z-index: 5;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
	.toggle-tab-mobile .toggle-content.visible{display: block;}

	.mean-container a.meanmenu-reveal{padding: 15px;}
	.nav-sections .mean-container .mean-nav ul li.home a span.icon,
	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.header .magicmenu .level0 .level-top img{display: none !important;visibility: hidden;}
	.nav-sections .mean-container .mean-nav ul.nav-mobile{display: block !important;}
	.menu-mobile .nav-toggle,.header-logo .nav-toggle{display: inline-block;position: absolute;line-height: normal;padding: 0px;vertical-align: middle;top: 50%;left: 0;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
	.header-logo .nav-toggle{width: 30px;}
	.nav-before-open.nav-open .header-logo .nav-toggle{-webkit-transform: none;-ms-transform: none;-o-transform: none;transform: none;}
	.nav-toggle { cursor: pointer;display: block;font-size: 0;text-decoration: none;top: 0px;z-index: 14;right: 50px;}
	.nav-toggle:before {display: inline-block;font-size: 30px; font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.header-logo .nav-toggle:before,.header-logo .nav-toggle:hover:before{color: #fff;}
	.nav-sections {background: #666 none repeat scroll 0 0;height: 100%;left: calc(-1 * (100% - 54px));overflow: auto;position: fixed;top: 0px;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;width: calc(100% - 54px);}
	.nav-open .nav-sections {left: 0;z-index: 99;box-shadow: 0;}
    .nav-before-open .page-wrapper {height: 100%;left: 0;overflow: visible;position: fixed;transition: left 0.3s ease 0s;-moz-transition: left 0.3s ease 0s;-webkit-transition: left 0.3s ease 0s;-o-transition: left 0.3s ease 0s;-ms-transition: left 0.3s ease 0s;}
    .nav-open .page-wrapper {left: calc(100% - 0px);}
    .nav-before-open body {height: 100%;overflow: hidden;position: relative;width: 100%;}
    .nav-before-open body.cms-index-index{background-color: #fff;}
	.nav-before-open {height: 100%;width: 100%;}

	.nav-open .nav-toggle:after {background: rgba(0, 0, 0, 0.01) none repeat scroll 0 0;content: "";display: block;height: 100%;position: fixed; right: 0;top: 0;width: 100%;z-index: 1;}
	.nav-before-open.nav-open .nav-toggle{background-color: #333;height: 30px;line-height: 26px;left: auto;position: fixed;right: 0;top: 0;width: 30px;text-align: center;}
	.nav-before-open .nav-toggle:before{position: static;content: "\f00d";font-family: FontAwesome;color: #fff;font-size: 20px;}
	.nav-before-open .nav-toggle:hover:before{color: #fff;}
	.mean-container .mean-bar, .mean-container .mean-bar * {box-sizing: content-box;}

	.alo-blog .post-description{padding-bottom: 10px;}
	.alo-blog .block.widget{margin-bottom: 0 !important;}
	.cms-index-index .sidebar.sidebar-additional{padding-bottom: 0px;padding-top: 0px;}
	.mrbara-image-box .title{font-size: 20px;}
	.mrbara-image-box .desc ul{margin: 0;}
	.mrbara-image-box .desc{padding: 0;}
	.block-category{padding-bottom: 70px;}
	.alo-theme .main-content p{width: 100%;}
	.block-title-tabs .cat-view-all{right: 15px;}
	 /* Megashop, Magicproduct, Magiccategory */
	.block-title h3,.block-title-tabs h3, .box-title .magictabs .item.activated .title,.cms-page-images .banner-content .main-desc p{font-size: 30px;}
	.box-products .block-title-tabs{position: relative;}
	.box-products .block-title-tabs .toggle-tab{display: none !important;}
	.box-products .block-title-tabs .magictabs.toggle-content{display: block;}
	.box-products .block-title-tabs .magictabs.toggle-content.visible{display: block;}
	.box-products .block-title-tabs.toggle-visible .toggle-tab .fa{display: none;}
	.box-products .block-title-tabs.toggle-visible .toggle-tab:before{content: "\f00d";font-family: FontAwesome;}
	.products-grid .product-name{overflow: visible;height: auto;}
	.content-products .products .slick-arrow.slick-next {right: 50px;}
	.content-products .products .slick-arrow.slick-prev {left: 50px;}
	.content-products .products .slick-arrow.slick-prev::before, .content-products .products .slick-arrow.slick-next::before, .alo-blog .slick-arrow.slick-prev::before, .alo-blog .slick-arrow.slick-next::before, .block-related .products .slick-arrow::before, .box-up-sell .products .slick-arrow::before, .crosssell .products .slick-arrow::before, .post-bottom .related .products .slick-arrow::before{font-size: 50px;}
	.item .actions-cart .button.btn-cart, .item .actions-cart .stock.unavailable{padding: 0;}

	.category-view{min-height: 200px;}
	.catalog-product-view .breadcrumbs, .page-products .breadcrumbs{min-height: 268px;}
	.category-view-position{top: 72%;}
	.page-products .page-title-wrapper h1 span, .pagecrumbs-title{font-size: 30px;}
	.toolbar-amount,.modes-label{float: none;}
	.toolbar-bottom .toolbar-products .toolbar-amount{display: block;}
	.page-layout-2columns-left .sidebar-main, .page-layout-2columns-left .sidebar-additional, .page-layout-2columns-right .sidebar-main, .page-layout-2columns-right .sidebar-additional{padding-right: 15px;}
	.accor-title,.sidebar .block .block-title strong,.sidebar .magictabs .item.activated .title{font-size: 20px;}
	.products-list .item .product-item-details {width: 55%;}
	.products-list .images-container{width: 45%;}
	.products-list .item .products-textlink,.products-list .item .product-item-inner{width: 100%;float: none;}
	.products-list .item .products-textlink{padding: 0;border: 0;}
	.products-list .item .product-item-inner{padding: 0;margin-top: 35px;}
	.products-list .item .add-to-links{text-align: left;}
	.products-list .product-item-inner .add-to-links a{display: block;text-align: left;}
	.block-subscribe .block-title,.block-subscribe .input-box{width: 100%;}
	.payment img,.block-logo img{margin: 0 auto 25px;}
	.page-footer .block-content-statick li a,.copyright{text-align: center;}
	.footer-extras{float: none;text-align: center;padding-top: 30px;}
	.top-form-language, .currency_top,.socials {display: inline-block;float: none;vertical-align: middle;}
	.icon-share{margin: 0;}
	.product.info.detailed {margin: 50px 0 0;}
	.product-primary-column,.custom-detail-right{width: 100%;}
	.custom-detail-right .display-resolutions{width: 70%;float: left;}
	.custom-detail-right .sidebar-module{width: 30%;float: left;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {padding-left: 15px;padding-right: 15px;}
	/* Slide main */
	.home-slider .text-slide{left: 30px;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 30px;line-height: 30px;margin: 0;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{margin-top: 50px;}

	/* banner, newsletter */
	.popup-newsletter .modal-inner-wrap{width: 630px !important;height: auto !important;}
	.sidebar .bg-newletter .block.block-subscribe .block-content{padding: 10px;}
	/* About, Contact */
	.contact-index-index .page-title-wrapper .page-title{max-width: 750px;}
	.our-works .custom-mobile{margin-bottom: 30px;}
	.company-worker .item .img{width: 130px;height: 130px;line-height: 130px;}
	.company-worker .item .hr span.first{padding-top: 35px;font-size: 17px;}
	.company-worker .item .hr span.last{font-size: 30px;line-height: 30px;}
	.onclick .tool-onclick .toggle-content,.contact-form .fix-width{width: 100%;}
	.contact-form .fix-width:first-child{margin-bottom: 30px;}
	.locations .single-store,.locations .column_right{width: 50%;}

	.actions-cart{width: calc(100% - 110px); width: -webkit-calc(100% - 110px);}
	.item .actions-cart .button.btn-cart, .item .actions-cart .stock.unavailable{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
	.item .actions-cart .button.btn-cart span{display: inline;}
	.toolbar-products .pages,.toolbar-bottom .toolbar-products .pages{float: none;margin: 10px 0 0;width: 100%;}
	.modes{clear: both;display: inline-block;float: none; margin: 0 auto;width: 100%;}
	.modes-mode,.pages li{float: none;}
	.data.table .custom-qty{width: 40px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.link-view{display: none;}
	.image-inner img{width: 100%;}
	.item_inner .img img{margin: 0 auto;}
	.limiter, .sorter{float: none;}
    .page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.block-viewed .block-content, .block-reorder .block-content{padding:0 10px;}
	.block-layered-nav dd{padding: 0 0 10px;}
	.swatch-link, .swatch-label{font-size: 10px}
	#narrow-by-list dd .swatch-link{margin-right: 0;}
	/* sidebar */
	.sidebar .block .block-content {padding: 18px 0px;}
	.block.block-compare .empty {padding: 20px 10px;}
	.sidebar .mean-container .mean-bar, .sidebar .mean-container .mean-bar *{box-sizing: inherit;}
	ul.nav-accordion ul {padding: 0 0 0 10px;}
	ul.nav-accordion li > ul.submenu > li > a{padding-left: 0;}
	ul.nav-accordion li a span {font-size: 14px;}
	.swatch-option.text{margin-right: 12px;}
	.filter-options .filter-options-content .item a,.filter-options .filter-options-content .item a span{font-size: 14px;}
	.filter-options .filter-options-content .item:before{padding-right: 5px;}
	.sidebar .block-custom-product .images-container,.sidebar .block-custom-product .products-textlink{width: 100%;}
    .sidebar .block-custom-product .products-textlink{padding: 10px 0 0;}
	#narrow-by-list dd .configurable-swatch-list li, #narrow-by-list dd ol.configurable-swatch-list li{width: 100%;}
	.category-products.grid .per-product{min-height: 375px;}
	/* Product Page */
	.page-layout-1column .product-view .product-primary-column .product.media,.page-layout-1column .product-view .product-primary-column .product-info-main{width: 100%;}
	.page-layout-1column .product-view .product-primary-column .product-info-main{margin-top: 30px;}
	.product-view .product-shop .no-display{display:none !important;}
	.product.data.items .items-tabs .item a{font-size: 15px;}
	/* Policy / service */
	.policy .policy-box:first-child .box-content,.policy .policy-box .box-content{padding-left: 0;}
	/* Footer newletter / socials */
	.payment,.footer-copyright,.company-top .footer.links{width: 100%;text-align: center; padding: 0;}
	/* cart checkout */
	.opc-estimated-wrapper .minicart-wrapper{display: none;}
	.checkout-payment-method .payment-methods {margin: 0 !important;}
	.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary, .multicheckout .action.primary{padding: 0 30px;}
	.cart-container .cart-summary,.cart-container .form-cart{width: 100% !important;float: none !important;top: 0 !important;}
	.collapsible{clear: both;}
	.block-footer-bottom .footer .block-title{font-size:15px;}
	.clearboth{clear: both;}
    .cart-table td {padding: 15px 13px;}
    .data-table tbody tr td .product-name a, .data-table tbody tr td .cart-price .price{font-size: 12px;}
}

/* Iphone 5 landscape */
@media(max-width:767px) {
	.container{ padding-left: 15px;padding-right: 15px;}
	.tool-topsearch{padding-left: 0px;}
	.minicart-wrapper{margin: 0 !important;}
	.tool-topsearch .toggle-content {width: 500px;}

	.nav-sections-item-content .vmagicmenu,.nav-sections-item-content .magicmenu .nav-desktop,.sidebar .accordion-container,.header .magicmenu .level0 .level-top img{display: none !important;visibility: hidden;}
	header.page-header .nav-sections-item-content {box-sizing: border-box;float: right;margin-left: -100%;margin-top: 20px;width: 100%;}
	header.page-header .nav-sections .switcher {border-bottom: 1px solid #888;border-top: 0;font-size: 15px;font-weight: 400;height: auto;margin: 0;padding: 0px 20px;text-align: left;}
	header.page-header .nav-sections .switcher-trigger strong:after{display: none;}
	header.page-header .nav-sections .switcher .options, footer.page-footer .nav-sections .switcher .options{padding: 12px 0;margin: 0;}
	header.page-header .nav-sections .top-form-language .switcher .options:before{display: none;}
	header.page-header .nav-sections .nav-sections-item-title{background: #999 none repeat scroll 0 0;border-color: #999;width: 50%;display: none;}
	header.page-header .nav-sections .nav-sections-item-title.active{background: transparent;border: 0;}
	header.page-header .nav-sections .section-item-title .nav-sections-item-switch{font-size: 15px;color: #fff;}
	header.page-header .nav-sections .section-item-title.active .nav-sections-item-switch {color: #fff;}
	header.page-header .nav-sections .switcher .options:before{display: none;}
	header.page-header .nav-sections .switcher-options strong span, header.page-header .nav-sections .switcher .options .action{color: #fff;}

	/* Slide main */
	.slide-showcase .magicslider {padding-top: 0px;}
	.home-slider .text-slide{top: 50%;left: 20px;}
	.home-slider .slick-slide.slick-active .figcaption .caption2{font-size: 25px;line-height: 25px;margin: 0;}
	.home-slider .slick-slide.slick-active .figcaption .caption3{font-size: 13px;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{font-size: 13px;line-height: 45px;margin-top: 40px;}
	.home-slider .slick-next{right: 0;}
	.home-slider .slick-prev{left: 0;}

	/* Policy / service */
	.policy .policy-box{width: 100%;margin: 0 0 30px;}
	.policy .policy-box .box-content,.policy .policy-box:first-child .box-content{padding-left: 100px;}
	.policy .policy-box .box-content .service-content .info-title h3{font-size: 25px;}
	/* banner, newsletter */
	.sidebar-additional-custom .banner-boder-zoom,.custom-detail-right .banner-boder-zoom{max-width: 270px;margin: 0;}
	.banner-boder-zoom .position h3{font-size: 35px;}
	.cms-static-popup .static-popup-right{padding-left: 20px;}
	.popup-newsletter.modal-popup.modal-slide{right: 44px;left: 44px;}
    .popup-newsletter .modal-inner-wrap{width: 100% !important;height: auto !important;background-image: none !important;background-color: #ffffff;}
	#popup-newsletter .newsletter-new{margin: 0 0 30px;padding: 40px 0 0;}
	#popup-newsletter .block-content img {margin: 0 auto 60px;}
	#fancybox-wrap ,#fancybox-overlay{display: none !important;}
	#popup-newsletter .block-content .promotions{margin: 0;text-align: center;}
	.promo-panel-text1{font-size: 15px;}

	/* Megashop */
	.megashop .content-products .products .slick-arrow,.content-products .products .slick-arrow,.shopbrand .slick-arrow,.home-slider .slick-arrow{visibility: visible;opacity: 1;}
	.block-subscribe .block-title strong,.block-subscribe .block-title,.alo-theme .title-vertical-line h3{font-size: 25px;}
	.block-title-tabs .cat-view-all{top: -115px;}

	.col-left{margin-top: 30px;}
	.block.block-reorder .no-display{display: none !important;}
	.block-collapsible-nav{position: static;}
	.dropdown-switcher ul {margin: 0;}
	.header .mini-maincart {position: static;}
	.header .cartSummary {position: relative;}
	.miniCartWrap .icons{padding: 6px;font-size: 24px;}
	.dispaly-phone{text-align: center;margin:10px 0 0;}

	.box{padding-bottom: 0;}
	.box-top img{width: 100%;}
	#magicshop_quickview_handler{display:none !important;}
	.link-view{display: none;}
	.image-inner img{width: 100%;}
	.contact-content .fieldset{padding-left: 0;}
	.contact-form:before{display: none;}
    /* About, Contact */
    .page-team-content >.container{padding-left: 30px;}
    .our-works .col-left, .crazy-team .col-left{padding-left: 15px;padding-right: 15px;margin-top: 0;}
	.page-team-content .sub-text,.company-worker .item,.about-content .short-description{width: 100%;float: none;}
	.company-worker .item{padding-bottom: 20px;}
	.company-worker .item .img{ height: 290px;line-height: 290px;margin: 0 auto;width: 290px;}
	.onclick .tool-onclick .toggle-content,.contact-form .fix-width{width: 100%;}
	.contact-index-index .page-title-wrapper .page-title span{font-size: 30px;padding-left: 15px;}
	.contact_info{padding-left: 50px;}
	.contact_info .border_right{border: 0;}
	.contact-form .fix-width:first-child{margin-bottom: 30px;}
	.store_info li:last-child{padding-bottom: 30px;}
	.custom-mobile .block-title{padding-top: 30px;}
	.locations .single-store,.locations .column_right{width: 50%;}

	.toolbar-products .pages,.toolbar-bottom .toolbar-products .pages{float: none;margin: 10px 0 0;width: 100%;}
	.modes{clear: both;display: inline-block;float: none; margin: 0 auto;width: 100%;}
	.modes-mode,.pages li{float: none;}
	.limiter, .sorter{float: none;}
	.block-custom-left .item .product-item-info .product-item-details{margin: 5px 0 0 0;}
	.pagecrumbs-title, .page-title-wrapper h1 span{font-size: 18px;}
	.breadcrumbs .inner-breadcrumbs li a, .breadcrumbs li strong,.breadcrumbs li{font-size: 14px;line-height: 20px;}
	.page-layout-2columns-left .column.main, .page-layout-2columns-right .column.main,
	.page-layout-2columns-left .sidebar-main, .page-layout-2columns-left .sidebar-additional, 
	.page-layout-2columns-right .sidebar-main, .page-layout-2columns-right .sidebar-additional,
	.blog-post-view .sidebar.sidebar-additional, .blog-index-index .sidebar.sidebar-additional, .blog-index-index.page-layout-2columns-left .sidebar.sidebar-additional{width: 100% !important;}
	.page-layout-2columns-left .product-view .product.media, .page-layout-2columns-right .product-view .product.media, .page-layout-3columns .product-view .product.media,
    .page-layout-2columns-left .product-view .product-info-main, .page-layout-2columns-right .product-view .product-info-main, .page-layout-3columns .product-view .product-info-main{width: 100%;}
	.blog-index-index.page-layout-2columns-left .column.main, .blog-index-index.page-layout-2columns-right .column.main, .blog-post-view.page-layout-2columns-right .column.main, .blog-post-view.page-layout-2columns-left .column.main{width: 100% !important;}
	.page-layout-2columns-left .column.main{margin-bottom: 50px;}
	.sidebar .block-custom-product .product-items .product-item-info .product-item-photo{position: static;}
	.sidebar .block-custom-product .product-items .product-item-details{margin: 0;}

	.products-list .item .add-to-links { margin: 10px 0 0;}
	.post-list-wrapper ol.post-list{padding: 0;}
	/* Product Page */
	.actions-cart{width: calc(100% - 100px); width: -webkit-calc(100% - 100px);}
	.item .actions-cart .button.btn-cart, .item .actions-cart .stock.unavailable{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
	.item .actions-cart .button.btn-cart span{display: inline;}
	.page-layout-1column .product-view .product.media,.page-layout-1column .product-view .product-info-main{width: 100%;}
	.product-view .product-shop .no-display{display:none !important;}
	.product-collateral .box-reviews .data-table thead th{text-transform: capitalize;}
	.product-view .product-info-main {padding-top: 20px;}
	.product.data.items .items-tabs .item a{font-size: 15px;}
	.product.info.detailed {margin: 50px 0;}
	.nobr{font-size:12px;}
	/* cart checkout */
	.cart.table-wrapper thead{display: none;}
	.cart.table-wrapper .item .col.item{padding:25px 0 10px 75px;}
	.cart.table-wrapper .product-item-photo{position: static;max-width: 100%;}
	.cart.table-wrapper .actions-toolbar{position: relative;min-height: 20px;padding-bottom: 30px;}
	.cart.table-wrapper .actions-toolbar > .action-edit, .cart.table-wrapper .actions-toolbar > .action-delete {display: inline-block;position: absolute;right: 16px;text-decoration: none;top: 0;}
	.cart.table-wrapper .action {margin-right: 15px;}
	.cart.table-wrapper .action:last-child {margin-right: 0;}
	.cart.table-wrapper .actions-toolbar > .action-delete {right: 0;}
	.data-table tbody tr td .cart-price .price{font-size: 12px;}
	.cart-container .cart.main .action{margin-bottom: 10px;}
	.cart .page-title{padding:10px 0;}
	.minicart-wrapper .action.showcart:after{margin: 0;}
	/* login */
	.abs-discount-block-desktop .block:nth-child(1), .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1), .block-addresses-list .items.addresses > .item:nth-child(1), .form-edit-account .fieldset:nth-child(1), .form-address-edit .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1) {clear: both;float: none;}
	.abs-discount-block-desktop .block:nth-child(2), .login-container .block:nth-child(2), .account .column.main .block:not(.widget) .block-content .box:nth-child(2), .block-addresses-list .items.addresses > .item:nth-child(2), .form-edit-account .fieldset:nth-child(2), .form-address-edit .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2) { float: none;}
	.account .column.main .block:not(.widget) .block-content .box{width: 100%;margin-bottom: 30px;}
	.login-container .fieldset::after{text-align: left;margin-bottom: 30px;margin-top: 10px;}
	.login-container .block{float: none;width: 100%;}
	.login-container .actions-toolbar .secondary{padding-top: 10px;}
	/* compare */
	.block-compare .actions-toolbar .primary,.block-compare .actions-toolbar .secondary{display: inline-block;vertical-align: middle;}
	.block-compare .actions-toolbar .secondary{padding-left: 10px;}

	.cart .crosssell{margin:20px 0 0 0;}
	.main .col-main {padding: 0 15px;}
	.product-image-gallery .gallery-image.visible {width: 100%;}
	.cart .totals {margin: 0 0 15px 0;}
	.checkout-onepage-index .main-container {padding-top: 0;}
	.customer-account-index .main-container { margin-top: 0;}
	/* Footer newletter / socials */
	.clear-both{clear: both;}
	.page-footer .block-title.heading{margin: 0;padding-bottom: 20px;}

    .mobile-collapsible{clear: both;position: relative;margin-bottom: 30px;}
	/* .page-footer .toggle-tab.mobile{color: #aaa;cursor: pointer;display: block !important;font-size: 20px;line-height: normal;font-weight: bold;margin: 0;padding: 0;position: absolute;right: 0;text-align: center;top: 0;width: 19px;}
	.page-footer .toggle-content{ display: none;}
	.page-footer .toggle-content.visible{ display: block;}
	.page-footer .toggle-tab:before{content: "\f107";font-family: FontAwesome;}
	.page-footer .toggle-visible .toggle-tab:before{ content: "\f106";} */
	.narrow-by{position: relative;padding: 5px 0;outline:medium none !important;margin: 0;}
}

@media only screen and (max-width: 639px) {
	.col-mobile-plus-12{width:100%}
	.col-mobile-plus-6{width:50%}
	.col-mobile-plus-4{width:30.3333333333%}
	.col-mobile-plus-3{width:25%}
	.col-mobile-plus-2{width:16.6666666666%}
	.col-mobile-plus-1{width:8.33333333333%}
	.col2-set .col-1 { width: 100%;margin-bottom: 20px;}
	.col2-set .col-2 {float: right;width: 100%;}
	.header-top-link ul.links li {float: none;display: inline-block;}
	.tool-topsearch .toggle-content {width: 450px;}
	.category-view {min-height: 130px;}
	.category-view-position{top: 50%;}
	.page-products .header-content, .catalog-product-view .header-content{padding: 20px 0;position: static;background-color: #6a1717;}
	/* Slide main */
	.home-slider .slick-slide.slick-active .figcaption .caption1{margin-bottom: 20px;letter-spacing: 0;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{margin-top: 20px;font-size: 12px;}

	.content-products .products .slick-arrow.slick-next{right: 30px;}
	.content-products .products .slick-arrow.slick-prev{left: 30px;}
	.actions-cart{width: calc(100% - 100px); width: -webkit-calc(100% - 100px);}
	.item .actions-cart .button.btn-cart, .item .actions-cart .stock.unavailable{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
	.item .actions-cart .button.btn-cart span{display: inline;}
	.alo-theme.box-no-title-tab .title-vertical-line {padding: 118px 0 10px;}
	.alo-no-magictabs .block-title-tabs{text-align: center;margin-bottom: 80px;}
	.block-title-tabs .cat-view-all{position: static;display: inline-block;}
	.custom-detail-right .display-resolutions,.custom-detail-right .sidebar-module{width: 100%;}
	/* Contact*/
	.store-item .store_info{width: 100%;}
    .single-store,.column_right{width: 100%;}
    .locations .single-store,.locations .column_right{width: 100%;}
    .locations .column_right{padding: 0 0 30px;}
    .locations .container{padding-right: 0;padding-left: 0;}
    /* Privacy Policy */
	.cms-page-view .data-table tbody th, .cms-page-view .data-table tbody td{display: block;}
	.cms-page-view .data-table thead{display: none;}
	.search-form .form-list input.input-text,.search-form .guest-select{width: 100% !important;}

	.account-login .content { min-height: 100px;}
	.account-login .buttons-set {margin: 0; padding: 0;}
	.modes{float: none;vertical-align: middle;display: inline-block;}
	.modes, .toolbar-products .pages,.toolbar .limiter, .toolbar .sorter{padding: 5px 0;vertical-align: middle;}
	.sorter{padding: 0;}
	.product.data.items > .item.title{display: block;width: 100%;margin: 0;padding: 0;background-color: #eee;}
	.product.data.items > .item.title.active{background-color: #fff;}
	.product.info.detailed .product.data.items > .item.title .switch::after,.product.data.items > .item.title::before{display: none;}
	.product.data.items > .item.title > .switch{padding: 10px;}
	.form-wishlist-items .actions-toolbar button{margin:0 0 5px 0;}
	.product.data.items .items-tabs .item{display: block;}

	.form-address-edit .fieldset,.account .column.main .block:not(.widget) .block-content .box,.wishlist-index-index .products-grid.wishlist .product-item,.login-container .block,.form.create.account > .fieldset{width: 100%;}
	.form.create.account > .fieldset{padding: 0;}
	.account .column.main .block:not(.widget) .block-content .box{margin-bottom: 20px;}
	.account .form-address-edit .actions-toolbar{padding-top: 20px;}
	.account .form-wishlist-items .actions-toolbar{padding-bottom: 20px;}
	.account .form-wishlist-items .actions-toolbar .action{margin-bottom:10px;}
	.login-container .fieldset:after {text-align: left;}

    .category-view{margin-bottom: 40px;}
	.toolbar-amount, .modes-label,.toolbar .limiter,.modes{display: none;}
	.toolbar .sorter{position: absolute;top: 0;right: 0;padding: 0;}
	.toolbar{margin-bottom: 0;}
	.sorter-label, .limiter .label{font-size: 12px;padding: 0 5px;}

	.products-list .item .product-item-details,.products-list .images-container {width: 100%;}

	.alocolumns:after {clear: both;content: " ";display: block;height: 0;overflow: hidden;visibility: hidden;}
	.page-products .alocolumns {padding-top: 60px;position: relative;z-index: 1;}
	.filter-options {display: none;margin: 0;}
	.filter.active .filter-options {background: #fff none repeat scroll 0 0;bottom: 0;display: block;left: 0;overflow: scroll;position: fixed;right: 0;top: 50px;z-index: 10;padding: 10px 15px 0;}
	.filter.active {position: relative;visibility: visible;z-index: 99;}
	.filter.active .filter-title {height: 48px;left: 0;position: fixed;right: 0;top: 0;z-index: 2;}
	.sidebar .filter-title strong {border: 1px solid #ccc;border-radius: 3px;font-weight: 400 !important;left: 15px;line-height: 16px !important;padding: 7px 10px !important;position: absolute !important;text-align: center;top: 0;z-index: 2;font-size: 14px !important;cursor: pointer;}
	.filter.active .filter-title strong:after {color: #7d7d7d;content: "\f00d";display: inline-block;font-family: FontAwesome;font-size: 16px;font-weight: normal;line-height: inherit;overflow: hidden;text-align: center;vertical-align: middle;}
	.filter.active .filter-title strong {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 0 none;box-shadow: none;color: transparent !important;display: inline-block;left: auto;right: 10px;text-decoration: none;top: 10px;cursor: pointer;}
	.filter-subtitle {display: none;}
	.filter.active .filter-subtitle {background: transparent none repeat scroll 0 0;display: block;height: 50px;left: 0;line-height: 32px;position: fixed;right: 0;top: 0;z-index: 1;}
	.filter .filter-subtitle {font-size: 20px;font-weight: 300;}
	.filter .block-subtitle {border-bottom: 1px solid #ccc;font-size: 14px;font-weight: 600;line-height: 1em;padding: 10px 10px 20px;}
	body.filter-active .page-wrapper {height: 0;margin-top: -999999em;visibility: hidden;}
	body.filter-active .page-header {display: none;}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	.data-table td.last { border-bottom: 1px solid #dddddd !important;}
	.data-table tfoot {border-bottom: none;}
	.data-table thead th{border-left: 1px solid #dddddd;border-bottom: 0 none;}
	.data-table thead.hidden-phone{display:none;}
	.data-table tbody th, .data-table tbody td{border-bottom: 0;}
	.product-view .box-reviews .form-add .data-table td{border-bottom: 1px solid #DDDDDD !important;}
}

/* width < 480px */
@media only screen and (max-width: 479px) {
	.col-mobile-12{width:100%}
	.col-mobile-6{width:50%}
	.col-mobile-4{width:30.3333333333%}
	.col-mobile-3{width:25%}
	.col-mobile-2{width:16.6666666666%}
	.col-mobile-1{width:8.33333333333%}

	.content-logo {width: 90%;}
	.header-icons{width: 100%;}
	.content-cart .minicart-wrapper{position: static;}
	.minicart-wrapper .block-minicart{width: 100%;top: 100%;}
	.tool-topsearch .toggle-content{width: 340px;}
	.header .form-search .catalogsearch-box{padding: 0 20px 0 15px;}
	.tool-account.toggle-tab-mobile .toggle-content{right: 0;min-width: 180px;left: auto;-webkit-transform: none;-ms-transform: none;-o-transform: none;transform: none;}

	.home-slider .text-slide{left: 20px;}
	.home-slider .slick-slide.slick-active .figcaption .btn-shop{height: 30px;line-height: 30px;font-size: 13px;margin-top: 10px;}
	.home-slider .slick-slide.slick-active .figcaption .caption3{font-size: 14px;display: none !important;}
	.home-slider .slick-arrow{display: none !important;}
	.cms-index-index .page-main-pal .alocolumns {padding-bottom: 30px;}
	.alo-theme .title-vertical-line {padding: 60px 0 33px;}
	.alo-theme.box-no-title-tab .title-vertical-line {padding: 60px 0 10px;}
	.alo-no-magictabs .block-title-tabs {margin-bottom: 60px;}
	.policy .policy-wrap {padding: 87px 0 50px;}
    /* Hot Deals newletter / socials */
    .alo-theme .title-vertical-line h3,.alo-theme .main-content p,.policy .policy-box .box-content, .policy .policy-box:first-child .box-content,.block-subscribe .block-title{padding: 0 0 0 50px;}
    .title-vertical-line h3:before,.block-subscribe .block-title:before{width: 30px;}
    .banner-boder-zoom .position h3{font-size: 25px;}
    .banner-boder-zoom .position p{font-size: 15px;}
    .block-banner .banner-read-more{font-size: 12px;padding: 0 20px;line-height: 35px;margin-top: 20px;}
	.title-social{margin-right: 0;}
	.block-subscribe input.input-text{padding: 0 30px;}
	.block-subscribe .actions {float: none;margin: 10px 0 0;position: static;text-align: center;}
	.block-subscribe .actions button.button{border-radius: 30px;}
	.popup-newsletter.modal-popup.modal-slide{right: 10px;left: 10px;}
	#popup-newsletter .block-content{padding: 20px;}
	#popup-newsletter .block-content .block-title strong span{letter-spacing: 10px;}

	.product-shop-content{padding: 0;}
	.footer.links li a,.page-footer .block-title.heading{font-size: 13px;}
	.block-footer-bottom {padding: 70px 0 50px;}
	/* About */
	.page-team-content,.crazy-team-inner {padding-top: 70px;}
	.detail-about .left-detail-about .box,.crazy-team-slide .item{width: 100%;}
	.crazy-team-slide .item{margin: 0 0 30px;}
	.crazy-team-slide .item .team-item a img{margin: 0 auto;}
	.item-contact-info{width: 100%;}
	.store_info:before,.store_info:after{display: none;}
	.block-title h2 span {font-size: 20px;}
	.cartSummary .icon-cart {font-size: 17px;}
	.nbs-flexisel-item img {display: inline-block;}
	.cart-table td{padding: 10px;}
	.sidebar .product-items .product-item-info {width: 100%;}
	.products-list .item .product-item-details{width: 100%;}
	.products-list .images-container,.products-list .item .products-textlink{width: 100%;}
	.products-list .product-shop{padding-top: 10px;}
	.product-item-description{padding: 15px 0 0 0px;}
	.category-products .products-grid .item.col-mobile-12{padding-left: 10px;padding-right: 10px;}
	.product.data.items > .item.content{padding: 55px 0 20px;}
	.product-view .toggle-tabs .item, .product.data.items > .item.title{letter-spacing: 0;}
	.wishlist-index-index .products-grid.wishlist .product-item{width: 100%;}
	.product-options-bottom .add-to-cart, .product-info-main .box-tocart .actions, .product-options-bottom .box-tocart .actions{float: none;margin: 0;width: 100%;}
	.product-view .product-shop .product-social-links, .product-add-form .product-social-links{margin: 0;}
	/* Contact */
	.contact-content .store-contact .store1 .store-item{width: 100%;}
}

/* Iphone 4 landscape */
@media (max-width: 360px) {
	.content-logo { width: 100%;text-align: right;}
	.tool-topsearch .toggle-content {width: 300px;top: 100%;}
	.header-icons{position: static;text-align: center;}
	.tool-header{float: none;display: inline-block;}
	.tool-account .toggle-content{top: 100%;left: 0;margin: 0 45px;}
	.home-slider .text-slide.text-slide1, .home-slider .text-slide.text-slide3{right: auto;left: 15px;}
	.home-slider .slick-slide.slick-active .figcaption .caption4{display: none;}
	.slick-dots{bottom: 10px ! important;}
	.block-category {padding-bottom: 0;}
	.block-category .container{padding-left: 0;padding-right: 0;}
	.static_sections_bottom {margin-top: 220px;}
	.magictabs .item{display: block;padding: 5px 18px;}

	.category-view {min-height: 120px;}
	.category-products .products-grid > li {width: 100%;}
	.data.table .custom-qty{width: 40px;}
	.crazy-team-slide .item{width: 100%;}
	.block-related .block-title, .block.box-up-sell .block-title, .crosssell .block-title{text-align: left;}
	.crosssell .block-title strong, .block-related .block-title strong, .box-up-sell .block-title strong,.block-title h3, .block-title-tabs h3, .box-title .magictabs .item.activated .title, .cms-page-images .banner-content .main-desc p{font-size: 20px;}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {float: none;text-align: center;}
	.col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.account-login .col2-set,.account-login .col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
	.multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 {float: none;width: 100%;margin-bottom: 10px;}
	.my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
	.my-wishlist thead.hidden-phone{display:none;}
	a.btn-edit, a.btn-remove{margin:0 auto;float:none;}
	.mini-contentCart .product-details a.btn-remove,.mini-contentCart .product-details a.btn-edit{float: left;margin: 0 5px 0 0;}
	.box-support ul li{margin-top:10px;}
	.box-up-sell{margin-bottom:15px;}
} 

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
	.category-view {min-height: 110px;}
	.below-column ul li a:before{margin: 0 5px;}
	#products-list .item .product-shop{ margin-top: 20px;}
	.box-up-sell{margin-bottom:15px;}
	.add-to-cart .qty.field{width: 100%;margin-bottom: 10px;}
}

@media only screen and (min-width: 240px) and (max-width: 319px) {
	.sorter .view-mode,.sorter .sort-by,.sorter .limiter,.sorter .pull-right{width: 100%;text-align: left;}
}







