<?xml version="1.0"?>

<!--
/**
 * Tactconnect Magento 2 Module.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Magento Team of Tactconnect Group
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento 2 COMMUNITY edition
 * Tactconnect Support does not guarantee correct work of this package
 * on any other Magento edition except Magento 2 COMMUNITY edition.
 * =================================================================
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Tactconnect_PassEncryption" setup_version="1.0.0"></module>
</config>