<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tact" translate="label" sortOrder="110">
            <label>TACT</label>
        </tab>
        <section id="tact" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General Configuration</label>
            <tab>tact</tab>
            <resource>Magento_Backend::content</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="discountCoupon" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Newsletter Discount Coupon Code</label>
                   <comment>Code must be available in Cart Price Rule and will be applicable if customer subscribed.</comment>
                </field>
            </group>
        </section>
    </system>
</config>

